* {
    font-family: Elza, sans-serif;
    transition: 0.5s ease;
}

.a {
    transition: padding 0.5s ease;
    color: inherit;
    text-decoration: none;
    height: 3em;
    border: 0.5px rgba(0,0,0,0.125) solid;
    border-radius: 3px;
    padding: 0.5em 1em 12em 1em;
    overflow: hidden;
}

.af {
    color: rgba(0,127,255,0.75);
    border-radius: 1em;
    margin: 0 0.5em;
    padding: 0 0.5em 0 0.4em;
    border: 1px solid rgba(0,127,255,0.75);
}

.af:hover {
    color: rgba(255,255,255,1);
    background: rgba(0,127,255,0.75);
    cursor: pointer;
    box-shadow: inset 0 -60px 0 0 rgb(0,127,255);
}

.an {
    color: #242424;
}

.an:hover {
    color: rgba(0,127,255,0.75);
}

body {
    color: #121212;
    margin: 2em auto 2em auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #EEEEEE;
    background: radial-gradient(circle, transparent 20%, #EEEEEE 20%, #EEEEEE 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #EEEEEE 20%, #EEEEEE 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ffffff 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ffffff 0.8px, #EEEEEE 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

h1 {
    font-size: 18pt;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.5em;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
}

.in {
    display: grid;
    background: #FFFFFF;
    padding: 2em;
    width: 80%;
    height: auto;
    max-width: 720px;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.inner {
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.inner .cap1 {
    transition: none;
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    margin: none;
    visibility: hidden;
}

.inner .cap2 {
    transition: none;
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    margin: 1em 0 0 0;
    visibility: visible;
}

.inner img {
    transition: none;
    float: left;
    width: 50%;
    margin: -2em auto 1em auto;
}

.inside {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    background: transparent;
    padding: 2em 0 0 0;
    vertical-align: top;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-max {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 3/2.95;
}

.nav {
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: #FFFFFF;
    width: 80%;
    max-width: 720px;
    height: auto;
    padding: 0.5em 2em;
    margin: auto auto 0.5em auto;
    overflow: hidden;
    border-radius: 5px;
}

.nav a {
    float: left;
    text-align: center;
    padding: 0.25em 0.5em;
    text-decoration: none;
    font-size: 11pt;
    font-weight: 100;
}

.nav .sel {
    color: #242424;
    font-weight: 500;
}

p {
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
    margin: 0.25em 0;
    padding: 0.5em 0 0 0;
}

.rad {
    border-radius: 5px;
}

.wide .c3 {
    display: grid;
    width: 100%;
    height: 75vw;
    border-radius: 5px;
}

/* Crane VS. Crane */
.alt1 {
    visibility: visible;
}

.alt2 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.c4 h2 {
    margin: 2em 0 0 0;
}

.c4 #cranes {
    display: grid;
    width: 100%;
    margin: 1.5em 0 0 0;
    border-radius: 5px;
}

#caption-c1 {
    border-bottom: 1px solid #EAEAEA;
    margin: 3em 0 0 0;
    padding: 0 2em 0.5em 0;
}

#caption-c2 {
    border-bottom: 1px solid #EAEAEA;
    margin: 3em 0 0 -5vw;
    padding: 0 0 0.5em 2em;
}

#crane-1 {
    background-image: url(portfolio/images/crane-1.jpg);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 480px;
    border-radius: 5px;
}

#crane-2 {
    background-image: url(portfolio/images/crane-2.png);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 480px;
    border-radius: 5px;
}

#row-c {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#row-d {
    display: grid;
    grid-template-columns: 65% 35%;
    overflow: hidden;
    margin: 2em 0 0 0;
}

#row-d .c4 {
    margin: 0 0 0 0;
}

#row-e {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin-top: -9em;
}

#row-e .c2 {
    z-index: 1;
}

#sketch {
    display: none;
    width: 100%;
    background: url(portfolio/images/crane-3.jpg);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

/* Gourmet – Animal Feed */
.g4 {
    margin: 0 0 0 1em;
}

.gourmet1 {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.gourmet2 {
    display: grid;
    grid-template-columns: 65% 35%;
    overflow: hidden;
}

#gdesc {
    margin: 0 2em 0 0;
}

#gdisp1 {
    width: 100%;
    height: 25vw;
    background-image: url(portfolio/images/gourmet.png);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
}

#gdisp2 {
    width: 100%;
    height: 25vw;
    background-image: url(portfolio/images/gourmet-2.png);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#gcap1 {
    display: none;
    margin: 1em 0 0 0;
    padding: 0.5em 0 0.5em 1em;
    border-left: 1px solid #EAEAEA;
}

#gcap2 {
    display: grid;
    margin: 3em 0 0 0;
    padding: 0 15% 0.5em 0;
    border-bottom: 1px solid #EAEAEA;
}

/* People Against Labs */
#caption-b1 {
    margin: 4em 0 auto auto;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #EAEAEA;
}

#caption-b2 {
    transition: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

#pal {
    width: 100%;
    border-radius: 5px;
}

#row-b {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#row-b .c2 {
    margin: 2em 0 0 2em;
}

/* C# Music */
#ccap1 {
    margin: 4em -2em 0 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #EAEAEA;
}

#ccap2 {
    margin: 4em 0 0 -2em;
    padding: 0 0 0.5em 2em;
    border-bottom: 1px solid #EAEAEA;
    z-index: -1;
}

#cs-a {
    transition: 0s ease;
    display: grid;
    grid-template-columns: 50% 50%;
}

#cs-a .cs1 {
    margin: 0 2em 0 0;
}

#cs-a .cs2 {
    transition: 0.125s ease;
    width: 100%;
    height: 50vw;
    background: url(portfolio/images/csposter.jpg);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#cs-b {
    display: grid;
    grid-template-columns: 45% 55%;
}

#cs-b .cs3 {
    display: grid;
    width: 100%;
    height: auto;
    align-content: stretch;
    overflow: hidden;
    margin-top: -120px;
    z-index: 1;
}

#cs-b .cs3 img {
    width: 100%;
}

/* Blood Glucose Meter */
#m4 {
    margin: 13em 0 0 2em;
}
#m4 p {
    margin: 0;
    padding: 0;
}

#mcap1 {
    margin: 4em 0 0 0;
    padding: 0 2em 0.5em 1em;
    border-bottom: 1px solid #EAEAEA;
}

#meter1 {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#meter1 #m2 {
    display: grid;
    width: 100%;
    height: 480px;
    background-image: url(portfolio/images/meters.png);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#meter2 {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    margin: -12em 0 0 0;
}

#meter2 #m3 {
    display: grid;
    height: 480px;
    background-image: url(portfolio/images/mdisplay.png);
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

@media only screen and (min-width: 1400px) {
    #m4 p {
        margin: 0;
        padding: 0;
    }
    #meter1 {
        grid-template-columns: 40% 60%;
    }
    #meter1 #m2 {
        height: 650px;
        background-position: top center;
    }
    #meter2 {
        grid-template-columns: 60% 40%;
        background-position: left center;
        margin: -16em 0 0 0;
    }
    #meter2 #m3 {
        width: 100%;
        height: 650px;
    }
    #meter2 #m4 {
        margin: 18em 0 0 2em;
    }
}

@media only screen and (max-width: 1240px) {
    #mcap1 {
        margin: 4em 0 0 0;
        padding: 0 2em 0.5em 0;
    }
    #meter1 {
        grid-template-columns: 35% 65%;
    }
}

/* Pie Clock */
.caption {
    color: #999999;
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    line-height: 1.65em;
}

#caption-a {
    margin: 4em 0 auto auto;
    padding: 0.5em 25% 0.5em 1em;
    border-bottom: 1px solid #EAEAEA;
}

.desc-a {
    margin-right: 30px;
}

.pclock {
    display: inline-block;
    vertical-align: middle;
    color: rgb(0,127,255);
    background: transparent;
    outline: 1px solid rgb(0,127,255);
    text-decoration: none;
    width: auto;
    height: auto;
    margin: 1em 0 0 0;
    padding: 1em 1em 0.825em 1em;
    border-radius: 5px;
    line-height: 0.5em;
}

.pclock::after {
    content: '>';
    transition: margin 0.5s ease;
    margin-left: 0.5em;
}

.pclock:hover::after {
    transition: margin 0.5s ease;
    margin-left: 0.75em;
}

.pclock:hover {
    box-shadow: inset 0 50px 0 rgba(0,127,255,0.0625);
}

#pie {
    background-image: url(images/clock.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    border-radius: 5px;
}

#row-a {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#row-a .c1 {
    width: 100%;
}

#row-a .c2 {
    width: 100%;
}

#row-tri {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 65% 35%;
}

#row-tri .c1 {
    background-image: url(portfolio/images/pie-clocks.png);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}

#row-tri .c2 {
    margin-left: 1em;
}

#row-win {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 50% 50% 0;
}

#row-win div {
    border-radius: 5px;
    min-height: 30vw;
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

#row-win .c1 {
    background-image: url(portfolio/images/pal-window-1.jpg);
    margin-right: 0.5em;
}

#row-win .c2 {
    background-image: url(portfolio/images/pal-window-2.jpg);
    margin-left: 0.5em;
}

#row-win .c3 {
    background-image: url(portfolio/images/pal-window-3.jpg);
}

#win-alt {
    width: 0;
    height: 0;
    visibility: hidden;
}

#win-alt div {
    border-radius: 5px;
    background-attachment: scroll;
    background-clip: content-box;
    background-origin: content-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Very Narrow Width */
@media only screen and (max-width: 580px) {
    body {
        margin: 0.75em 0 0 0;
    }
    #caption-c1 {
        max-width: 360px;
    }
    #gcap1 {
        max-width: 300px;
    }
    .in {
        padding: 28px 5%;
    }
    .in, .nav {
        width: 90%;
        border-radius: 0;
    }
    .nav {
        margin: 0.25em 0;
        padding: 0 5%;
        background-color: rgba(0,0,0,0);
    }
    #meter2 {
        overflow: visible;
    }
    #meter2 div:first-of-type {
        margin-left: -4em;
    }
}

/* Wide+ Width */
@media only screen and (max-width: 1224px) {
    #caption-c2 {
        margin: 3em 0 0 0;
        padding: 0 0 0.5em 0;
    }
    #row-e {
        margin-top: -16em;
    }
    #gdisp1 {
        height: 360px;
        background-position: 35%;
    }
}

/* Narrow Width */
@media only screen and (max-width: 860px) {
    .alt1 {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        display: none;
    }
    .alt2 {
        margin-top: 1em;
        visibility: visible;
        display: grid;
    }
    .alt3 {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        display: none;
    }
    .alt4 {
        visibility: visible;
        display: grid;
    }
    #caption-a {
        font-size: 11pt;
        border-bottom: none;
        border-left: 1px solid #EAEAEA;
        margin: 1em 0 0.5em 0;
        padding: 0.5em 1em;
    }
    #caption-b1 {
        transition: none;
        visibility: hidden;
        margin: 0;
        width: 0;
        height: 0;
    }
    #caption-b2 {
        visibility: visible;
        width: 100%;
        height: auto;
        margin-top: 1em;
        padding-top: 0.5em;
        border-top: 1px solid #EAEAEA;
    }
    #caption-c1 {
        border-bottom: 0px solid transparent;
        border-left: 1px solid #EAEAEA;
        margin: 1em 0 0 0;
        padding: 0 0 0.25em 1em;
        max-width: 70%;
    }
    #caption-c2 {
        border-bottom: 0px solid transparent;
        border-left: 1px solid #EAEAEA;
        margin: 1em 0 -2em 0;
        padding: 0 0 0.25em 1em;
        max-width: 70%;
    }
    #ccap1 {
        border-bottom: 0px solid #EAEAEA;
        border-left: 1px solid #EAEAEA;
        margin: 0;
        padding: 0 0 0 1em;
    }
    #ccap2 {
        border-bottom: 0px solid #EAEAEA;
        border-left: 1px solid #EAEAEA;
        margin: 0;
        padding: 0 0 0 1em;
    }
    #crane-2 {
        height: 90vw;
        max-height: 90vw;
        background-size: cover;
    }
    #crane-3 {
        background-position: top center;
    }
    #cs-a .c1 {
        transition: 0.125s ease;
        margin: 0 0 0 0;
    }
    #cs-a .cs2 {
        transition: 0s ease;
        margin: 1em 0 0 0;
        width: 100%;
        height: 112.5vw;
    }
    #cs-b .cs3 {
        margin: 0;
    }
    .desc-a {
        margin: 0;
    }
    .g4 {
        margin: 0;
    }
    .gourmet1, .gourmet2 {
        grid-template-columns: 100%;
    }
    #gcap1 {
        display: grid;
    }
    #gcap2 {
        display: none;
    }
    #gdesc {
        margin: 0 0 1em 0;
    }
    #gdisp1 {
        height: 360px;
        background-color: #EEEEEE;
    }
    #gdisp2 {
        height: 360px;
    }
    #mcap1 {
        margin: 4em 0 0 0;
        padding: 0.5em 0 0.5em 1em;
        border-bottom: 0px solid #EAEAEA;
        border-left: 1px solid #EAEAEA;
    }
    #meter1 #m2 {
        width: 100%;
        height: 560px;
    }
    #meter2 {
        margin: -9em 0 0 0;
    }
    #meter2 #m4 {
        margin: 0;
    }
    #pie {
        height: 360px;
    }
    #row-a, #row-c, #row-d, #row-e, #meter1, #meter2, #cs-a, #cs-b {
        grid-template-columns: 100%;
    }
    #row-d {
        margin-top: -0.5em;
    }
    #row-e {
        margin: 0 0 -1em 0;
    }
    #row-e .c1 {
        margin-bottom: 4em;
    }
    #sketch {
        display: grid;
    }
    #win-alt {
        visibility: visible;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        width: 100%;
        height: auto;
    }
    #win-alt div {
        height: 80vw;
    }
    #win-alt .c1 {
        background-image: url(portfolio/images/pal-window-1.jpg);
    }
    #win-alt .c2 {
        background-image: url(portfolio/images/pal-window-2.jpg);
    }
    #win-alt .c3 {
        background-image: url(portfolio/images/pal-window-3.jpg);
    }
    #row-tri {
        grid-template-columns: 100%;
    }
    #row-tri .c1 {
        transition: none;
        background-position: top center;
        outline: #F1F1F1 1px solid;
        height: 50vw;
        border-radius: 5px;
    }
    #row-tri .c2 {
        margin: 1em 0 0 0;
    }
    #row-win {
        grid-template-columns: 100%;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    #row-win div {
        min-width: 100%;
        min-height: 100vw;
    }
}

/* Wide Width */
@media only screen and (min-width: 1220px) {
    #caption-a {
        margin-top: 3em;
    }
    #caption-c1 {
        padding: 0 37.5% 0.5em 1em;
    }
    #crane-2 {
        height: 50vw;
        max-height: 50vw;
        background-position: top center;
    }
    #cs-a {
        grid-template-columns: 40% 60%;
    }
    #cs-a .cs2 {
        background-image: url(portfolio/images/csposter-wide.jpg);
        background-position: top center;
        width: 100%;
        height: 35vw;
    }
    .g4 {
        margin-top: 3em;
    }
    .gourmet1 {
        grid-template-columns: 35% 65%;
    }
    .gourmet2 {
        grid-template-columns: 65% 35%;
    }
    #gcap2 {
        padding: 0 25% 0.5em 0;
    }
    #gdisp1 {
        height: 560px;
    }
    .in, .nav {
        width: 70%;
        max-width: 70%;
    }
    #pie {
        height: 420px;
    }
    #row-a {
        grid-template-columns: 35% 65%;
    }
    #row-tri {
        grid-template-columns: 65% 35%;
    }
    #row-tri .c1 {
        transition: none;
        height: 30vw;
        border-radius: 5px;
    }
}