* {
    font-family: Elza, sans-serif;
    transition: 0.5s ease;
}

.a {
    transition: padding 0.5s ease;
    color: inherit;
    text-decoration: none;
    height: 3em;
    border: 0.5px rgba(0,0,0,0.125) solid;
    border-radius: 3px;
    padding: 0.5em 1em 12em 1em;
    overflow: hidden;
}

.af {
    color: rgba(0,127,255,0.75);
    border-radius: 1em;
    margin: 0 0.5em;
    padding: 0 0.5em 0 0.4em;
    border: 1px solid rgba(0,127,255,0.75);
}

.af:hover {
    color: rgba(255,255,255,1);
    background: rgba(0,127,255,0.75);
    cursor: pointer;
    box-shadow: inset 0 -60px 0 0 rgb(0,127,255);
}

.an {
    color: #242424;
}

.an:hover {
    color: rgba(0,127,255,0.75);
}

.banner {
    position: relative;
    display: grid;
    width: 100%;
    height: 360px;
    background-attachment: fixed;
    background-position: center center;
}

body {
    color: #121212;
    margin: 2em auto 2em auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #EEEEEE;
    background: radial-gradient(circle, transparent 20%, #EEEEEE 20%, #EEEEEE 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #EEEEEE 20%, #EEEEEE 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ffffff 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ffffff 0.8px, #EEEEEE 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

button {
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0;
    font-size: 14pt;
    font-weight: 300;
    color: #121212;
    background: rgba(0,0,0,0);
    border: 0;
    position: relative;
    display: grid;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0,0,0,0.0125);
    height: 2.5em;
}

button:hover {
    color: rgb(0,127,255);
    box-shadow: 0 2px 10px rgba(0,0,0,0.0125), inset 0 20px 0 rgba(255,255,255,0.5);
    background: rgba(250,250,250,0.5);
    cursor: pointer;
}

button::after {
    transition: opacity 0.5s ease, margin 0.5s ease;
    color: rgba(0,0,0,0.125);
    content: '\3\003e';
    padding: 0;
    height: 0;
    opacity: 0;
    text-align: right;
}

button:hover::after {
    transition: opacity 0.5s ease, margin 0.5s ease;
    color: rgba(0,127,255,0.5);
    content: '\3\003e';
    margin: -2em 0;
    padding: 0;
    height: 0;
    text-align: right;
    opacity: 1;
}

footer {
    font-size: 10pt;
    letter-spacing: 0.0625em;
    color: #666666;
    display: grid;
    background: #FFFFFF;
    border-radius: 5px;
    top: 1em;
    grid-template-columns: auto 5px auto 5px auto;
    position: relative;
    width: 80%;
    max-width: 757px;
    height: auto;
    margin: auto;
    padding: 0.5em 1em;
}

footer > .cat {
    text-align: center;
}

footer > .dot {
    color: #CCCCCC;
    text-align: center;
    visibility: visible;
    margin: auto;
}

h1 {
    font-size: 18pt;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    padding: 0;
}

h2:first-of-type {
    margin-top: 2em;
}

.header {
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
}

.img {
    display: grid;
    margin: 0 0 0 -5.5%;
    padding: 0;
    position: relative;
    width: 112.5%;
    height: 12em;
    background-attachment: scroll;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.img:hover {
    box-shadow: inset 0 -240px 0 rgba(255,255,255,0.075), inset 0 240px 0 rgba(255,255,255,0.075);
}

.img-c {
    background: url(images/c.png);
    background-size: 125%;
    background-position: center center;
}

.img-clock {
    background: url(images/clock.jpg);
    background-size: cover;
    background-position: center center;
}

.img-crane {
    background: url(images/crane.jpg);
    background-size: cover;
    background-position: center center;
}

.img-ethics {
    background: url(images/ethics.png);
    background-size: cover;
    background-position: top center;
}

.img-gourmet {
    background: url(images/gourmet.png);
    background-size: cover;
    background-position: center center;
}

.img-meter {
    background: url(images/meter.png);
    background-size: cover;
    background-position: center center;
}

.img-pal {
    background: url(images/pal.jpg);
    background-size: cover;
    background-position: center center;
}

.in {
    display: grid;
    background: #FFFFFF;
    padding: 2em;
    width: 80%;
    height: auto;
    max-width: 720px;
    margin: auto;
    line-height: 24pt;
    position: relative;
    border-radius: 5px;
}

.inner {
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.inner .cap1 {
    transition: none;
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    margin: none;
    visibility: hidden;
}

.inner .cap2 {
    transition: none;
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    margin: 1em 0 0 0;
    visibility: visible;
}

.inner img {
    transition: none;
    float: left;
    width: 50%;
    margin: -2em auto 1em auto;
}

.inside {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    background: transparent;
    padding: 2em 0 0 0;
    vertical-align: top;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nav {
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: #FFFFFF;
    width: 80%;
    max-width: 720px;
    height: auto;
    padding: 0.5em 2em;
    margin: auto auto 0.5em auto;
    overflow: hidden;
    border-radius: 5px;
}

.nav a {
    float: left;
    text-align: center;
    padding: 0.25em 0.5em;
    text-decoration: none;
    font-size: 11pt;
    font-weight: 100;
}

.nav .sel {
    color: #242424;
    font-weight: 500;
}

p {
    font-size: 12pt;
    font-weight: 300;
    line-height: 24pt;
    margin: 0.25em 0;
    padding: 0;
}

p:first-of-type {
    padding: 0.5em 0 0 0;
}

.s {
    background-color: #EFEFEF;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.s-clock1 {
    background-image: url(portfolio/images/slides/clock1.jpg);
    background-attachment: fixed;
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 650px) {
    .a {
        height: 10em;
    }
    button {
        border-radius: 0;
    }
    .col img,p {
        width: 100%;
    }
    footer {
        width: 90%;
        max-width: 90%;
        grid-template-columns: auto;
    }
    footer > .cat {
        text-align: left;
        margin: 0.25em 1em;
    }
    footer > .cat:first-of-type {
        margin-top: 1em;
    }
    footer > .cat:last-of-type {
        margin-bottom: 1em;
    }
    footer > .dot {
        transition: opacity 0.125s ease;
        visibility: hidden;
        margin: -1em 0;
        opacity: 0;
    }
    .img {
        height: 20em;
    }
    .img:hover {
        box-shadow: inset 0 -480px 0 rgba(255,255,255,0.075), inset 0 480px 0 rgba(255,255,255,0.075);
    }
    .inside {
        transition: grid-template-columns 0.5s ease;
        grid-template-columns: auto;
        overflow: visible;
    }
    .intro {
        width: 90%;
    }
}

@media only screen and (min-width: 1220px) {
    .a {
        height: 12em;
    }
    .col .row {
        display: inline-block;
        grid-area: auto auto;
    }
    footer {
        padding: 1em 3em;
        width: 86%;
        max-width: 86%;
        max-width: none;
    }
    .img {
        height: 24em;
    }
    .in {
        width: 85%;
        max-width: none;
        padding: 3em;
    }
    .inner {
        grid-template-columns: auto auto;
    }
    .inner .cap2 {
        visibility: visible;
        display: block;
        margin: auto;
    }
}